* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.logo h1 {
  color: white;
}
.logo h1 span {
  color: rgb(252, 68, 35);
}
.nav h2 {
  display: inline;
}
.nav {
  display: flex;
  align-items: center;
  background-color: rgb(43, 4, 4);
  height: 85px;
  padding: 0 80px;
}
.navlinks {
  margin-left: auto;
}
.navlinks ul {
  list-style: none;
}
.navlinks ul li {
  display: inline-block;
  padding: 15px 20px;
}
.navlinks a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.nav .menu-open {
  color: #f44336;
  display: none;
}
.nav .menu-close {
  color: black;
  display: none;
}
.navlinks ul li::after {
  content: "";
  height: 2px;
  width: 0%;
  display: block;
  margin: auto;
  background-color: #f44336;
  transition: 0.5s;
  margin-top: 3px;
}
.navlinks ul li:hover::after {
  width: 100%;
}
.front {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/banner.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}
.front h2 {
  padding-top: 15%;
  color: #f44336;
}
.front h1 {
  color: white;
  font-size: 3.5rem;
  padding-top: 20px;
  letter-spacing: 10px;
}
.container {
  padding-top: 50px;
  width: 80%;
  margin: auto;
}
.latest .heading {
  display: flex;
  align-items: flex-end;
}
.latest h1 {
  font-weight: 300;
  font-size: 30px;
}
.latest ul {
  list-style: none;
  text-align: center;
}
.latest ul li {
  display: inline-block;
  margin: 10px 20px;
  font-weight: 600;
  font-size: 13px;
}
.latest h3 {
  color: #f44336;
  margin-left: auto;
  font-size: 16px;
}
.latest hr {
  margin-bottom: 20px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.latest-col {
  flex-basis: 30%;
  margin-bottom: 5%;
  overflow: hidden;
  border: 2px solid whitesmoke;
  padding: 10px;
  transition: 0.2s;
}
.latest-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.latest .desc {
  display: flex;
}
.desc h3 {
  margin-right: auto;
  margin-left: 0;
}
.latest-col img {
  width: 100%;
  height: 150px;
}
.latest-col .desc {
  margin: 15px auto;
}
.latest-col .ratings {
  margin: 15px auto;
}

/* about sixteen clothing------------------------------------------ */

.about hr {
  margin-bottom: 40px;
  margin-top: 10px;
}
.about .row {
  align-items: flex-start;
}
.about h3 {
  color: rgb(65, 127, 243);
  margin-bottom: 20px;
}
.about ul{
  list-style:none;
}
.about li {
  color: rgb(90, 88, 88);
}
.about p {
  color: rgb(90, 88, 88);
  margin-bottom: 20px;
}
.btn {
  background-color: #f44336;
  color: whitesmoke;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  margin: 30px;
}

/* footer -------------------------------------------------------------*/

.footer {
  margin-top: 50px;
  background-color: whitesmoke;
  padding: 20px;
}
.page {
  text-align: center;
}
.page span {
  padding: 10px;
  border: 1px solid whitesmoke;
  font-weight: 600;
  transition: 0.5s;
  cursor: pointer;
}
.page span:hover {
  color: whitesmoke;
  background-color: #f44336;
}
.footer h3 {
  color: rgb(65, 127, 243);
  margin-bottom: 10px;
}
.footer p {
  color: rgb(153, 35, 35);
}
.copyright p {
  color: rgb(90, 88, 88);
  font-size: 14px;
}
.copyright {
  text-align: center;
  margin: 50px auto;
}
/* media query -------------------------------------------------------*/

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .front h2 {
    padding-top: 200px;
    font-size: 20px;
  }
  .front h1 {
    font-size: 30px;
  }
  .navlinks ul li {
    display: block;
  }
  .navlinks {
    position: absolute;
    background-color: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .about{
    text-align:center;
  }
  .nav .menu-open {
    display: block;
    margin-left: auto;
  }
  
  .nav .menu-close {
    display: block;
    margin: 10px;
  }
}
